html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: 'Roboto', sans-serif;
}

/*page grid layout*/
.body-grid {
  display: grid;
  grid-template-columns: minmax(280px, 300px) auto;
  grid-template-rows: minmax(60px, 64px) 1fr 1fr;
  grid-template-areas:
      "menu header"
      "menu main"
      "menu footer";
  column-gap: 0px;
  row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.menu {
  grid-area: menu;
  position: sticky;
  top: 0;
  height: 100%;
  border-right: 1px solid #30363d;
  background-color: #0d1117;
}

.menu__site-nav {
  position: sticky;
  top: 32px;
}

.return-link {
  padding-left: 24px;
  color: #c9d1d9;
  text-decoration: none;
  font-size: 12px;
}

.return-link:hover {
  text-decoration: underline;
}

.return-link__arrow {
  display:inline-block;
  user-select:none;
  vertical-align:text-bottom;
  overflow:visible
}

.site-nav__list {
  list-style: none;
  margin-top: 16px;
}

.site-nav__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #c9d1d9;
  padding: 12px 16px 12px 24px;
}

.site-nav__link:hover {
  background-color: #000;
}

.site-nav__arrow {
  display: inline-block;
  user-select: none;
  vertical-align: text-bottom;
  overflow: visible;
  opacity: 0.6;
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #0d1117;
  border-bottom: 1px solid #30363d;
}

.crumbs-nav {
  list-style: none;
  display: flex;
  padding: 0 32px 0 24px;
}

.crumbs-nav__item {
  color: #c9d1d9;
  margin-right: 8px;
  font-size: 14px;
  cursor: pointer;
}

.crumbs-nav__link {
  text-decoration: none;
  color: #58a6ff;
}

.crumbs-nav__link:hover {
  text-decoration: underline;
}

.main {
  grid-area: main;
  display: flex;
}

.main__center-wrapper {
  padding: 0 40px;
  margin: 24px auto;
}

.main__grid-wrapper {
  display: grid;
  max-width: none;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(500px, 720px) minmax(220px, 1fr);
  grid-template-areas:
      "topper aside"
      "section aside";
  column-gap: 80px;
  row-gap: 0px;
}

.main__topper {
  grid-area: topper;
  margin: 8px auto;
}

.main__aside {
  grid-area: aside;
  position: sticky;
  padding-top: 24px;
  top: 5em;
  max-height: calc(100vh - 5em);
  overflow-y: auto;
  padding-bottom: 40px;
}

.main__section {
  grid-area: section;
}

.article__list {
  list-style: none;
}

.footer {
  grid-area: footer;
}